<!DOCTYPE html>

<html lang="en">
<!-- para rodar o ejs precis isntalar pelo npm install o ejs e o express -->

<head>
    <%- include ('parts/head') %>
</head>

<body class="container">
    <header>
        <%- include('parts/header') %>
    </header>

    <main>
        <%- include('parts/main') %>
    </main>

    <footer>
        <%- include('parts/footer') %>
    </footer>

</body>

</html>