<!--Entrar na Sala-->
<section>
    <h2>Crie Sua Própria Sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Digite uma senha</label>
        <input  autofocus type="password" name="password" id="room-pass" placeholder="Digite uma senha">
        <button>
            <img src="images/users-white.svg" alt="Entrar na Sala">
            Criar Sala
        </button>
    </form>
</section>
